<%- layout('/yelpcampViews/layouts/boilerplate') %>

    <div class="container pt-5 bg-pink mb-5 header">
        <h1 class="fw-medium ">YelpCamp</h1>
        <p class=" fs-5 mb-4">Discover, Book, and Rate Campgrounds Worldwide.</p>

        <% if (success && success.length) { %>
            <div class="alert alert-primary alert-dismissible fade show my-5" role="alert">

                <%= success %>

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <% if (foundResults) { %>
            <div class="alert alert-primary alert-dismissible fade show my-5" role="alert">
            
                <%= foundResults %> Camps Found!
            
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <% if (danger && danger.length) { %>
            <div class="alert alert-secondary alert-dismissible fade show mb-3" role="alert">
        
                <%= danger %>
        
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
    </div>

    <div id="clusterMap" class="container-fluid bg-black mb-5" style="height: 55vh;"></div>

    <div class="card-container container pb-5 mt-4">

        <% for( let camp of camps ) { %>

            <div class="card home-cards">
                <div class="p-2 border-bottom">
                    <%= camp.location %> 
                </div>
                <% if (camp.img.length) { %>
                    <div id="carousel<%= camp._id %>"
                        class="carousel slide w-100 mt-4 border-bottom rounded pb-3 carousel-fade">
                        <% if (!(camp.img.length===1)) { %>
                            <div class="carousel-indicators">
                                <% camp.img.forEach((image,i)=> { %>
                                    <button type="button" data-bs-target="#carousel<%= camp._id %>"
                                        class="<%= i === 0 ? 'active' : ''  %>"
                                        aria-current="<%= i === 0 ? true : false %>" data-bs-slide-to="<%= i %>"
                                        aria-label="Slide <%= i %>"></button>
                                    <% }) %>
                            </div>
                            <% } %>


                                <div class="carousel-inner rounded w-100 h-100">
                                    <% camp.img.forEach((image,i)=> { %>
                                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                            <img src="<%= image.url %>" crossorigin="anonymous" class="w-100 h-100 img-fluid" alt="...">
                                        </div>
                                        <% }) %>
                                </div>

                                <% if (!(camp.img.length===1)) { %>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carousel<%= camp._id %>" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carousel<%= camp._id %>" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <% } %>


                    </div>
                    <% } %>
                        <div
                            class="card-body text-secondary p-2 mt-2 d-flex justify-content-between align-items-center">
                            <h2 class="card-title mb-2">
                                <a class="card-title fs-4 fw-semi link link-underline link-underline-opacity-0 link-offset-2 link-opacity-50-hover "
                                    href="/yelpcamp/<%= camp._id %>">
                                    <%= camp.name %>
                                </a>
                            </h2>
                            <p class="card-text fw-medium fs-4 text-primary">$<%= camp.price %>
                            </p>
                        </div>
            </div>

            <% } %>

    </div>



    
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const camps = { features: <%- JSON.stringify(camps) %> };
        console.log(camps);
    </script>
    <script src="/clusterMap.js"></script>